<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        body {
            margin:0;
            padding:0;
        }

.cover {
width: 100%;
}

#login {
    border:none;
    background-color:rgba(37, 108, 251, 0.88);
    color:white;
    padding:5px;
    width:100px;
    height:54px;
    font-size: 25px;
    border-radius: 14px;
    margin:20px;
}

.buttondiv {
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
}



    </style>

</head>
<body>

    <div class="buttondiv">
    
<button id="login">login</button>

    </div>

    <div>
    <img class="cover" src="../images/macaw.jpg" alt="header">

</div>

<script>
</script>


</body>
</html>


